@model GymBooking.Front.Models.ViewModels.GymClasses.GymClassIndexModelView

@await Component.InvokeAsync("PaginatorComponent", new { numberOfPages = Model.NumberOfPages, currentPage = Model.CurrentPage })

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="gymClassesId">
        @await Html.PartialAsync("GymClassesPartial", @Model.GymClasses)
    </tbody>
</table>


@await Component.InvokeAsync("PaginatorComponent", new { numberOfPages = Model.NumberOfPages, currentPage = Model.CurrentPage })

<input id="viewHistoryId" asp-for="@Model.ViewHistory" type="hidden">

<input id="actionEventId" asp-for="@Model.ActionEvent" type="hidden">



<script>
 

</script>