@model GymBooking.Front.Models.ViewModels.PaginatorModelView

<style>  
    .pagi {
    }

</style>

@if (Model.NumberOfPages > 1)
{

<ul value="@(Model.CurrentPage)" class="pagination pagination justify-content-center">
    @if (Model.CurrentPage == 1)
    {
        <li class="page-item disabled">
            <button class="page-link" value="@(Model.CurrentPage - 1)">Previous</button>
        </li>
    }
    else
    {
        <li class="page-item">
            <button class="page-link pagi" value="@(Model.CurrentPage - 1)">Previous</button>
        </li>
    }


    @for (int i = 1; i <= Model.NumberOfPages; i++)
    {
        if (i == Model.CurrentPage)
        {
            <li class="page-item active">
                <button class="page-link" value="@i">@i</button>
            </li>
        }
        else
        {
            <li class="page-item">
                <button class="page-link pagi" value="@i">@i</button>
            </li>
        }
    }

    @if (Model.CurrentPage == Model.NumberOfPages)
    {
        <li class="page-item disabled">
            <button class="page-link" value="@(Model.CurrentPage + 1)">Next</button>
        </li>
    }
    else
    {
        <li class="page-item">
            <button class="page-link pagi" value="@(Model.CurrentPage + 1)">Next</button>
        </li>
    }

    
</ul>
}






